{% extends 'base.html' %}
{% block section1 %}
    <h1>
        {{ buyer_data }}
    </h1>
    <h2>
        {{ buyer_data.user_id }}
    </h2>
    <form method="POST">
        {% csrf_token %}
        <select name="product" id="product">
            <option value="">Select a product</option>
            {% for product in products %}
                <option type="text" value="{{ product.product_id }}">{{ product.productName }}</option>
            {% endfor %}
        </select> <br />
        <input type="number" name="amount" required id="amount"> <br />
        <button type="submit"> บันทึก </button>
    </form>
    <p>
        {% for t_data in transaction_data %}
            {{ t_data.created_at }} <br />
            {% for data in t_data.item_list.all %}
                รายการ: {{data.product.productName}}<br />
                ราคา/หน่วย: {{data.product.price}}<br />
                จำนวน: {{data.amount}}<br />
            {% endfor %}
        {% endfor %}
        {% for total_price in  all_total_price %}
            {{ total_price }} <br />
        {% endfor %}
    </p>
{% endblock %}